$main-color: #252525;
$details-color: lighten($main-color, 20%);
$second-color: #9cdcdd;
$default-text-color: #fff;
@mixin flex($jc, $w : nowrap) {
    display: flex;
    align-items: center;
    justify-content: $jc;
    flex-wrap: $w;
}
@mixin grid($n-columns) {
    display: grid;
    grid-template-columns: repeat($n-columns, 1fr);
}
@mixin link-style($size) {
    text-decoration: none;
    color: $default-text-color;
    font-size: $size;
}
@mixin center($width) {
    width: $width;
    margin: 0px auto;
}
@mixin border-style($b-radius, $b-width, $b-color) {
    border-radius: $b-radius;
    border: $b-width solid $b-color;
}
%move-down {
    margin-top: 60px;
}
@keyframes h-anim {
    0% {
        transform: translate(-220px, 0px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}
@keyframes h-tag-reset {
    0% {
        width: 254px;
    }
    100% { 
        width: auto;
    }
}