@media screen and (max-width: 1024px) {
    #cover {
        padding-top: 100px;
        height: 400px;
    }
    #skills #skills-holder {
        h4 {
            font-size: 1.8rem;
        }
        .tech ul li {
            width: 200px;
            font-size: 1.6rem;
        }
    }
}
@media screen and (max-width: 768px) {
    #skills {
        #skills-holder .tech {
            width: 100%;
            h4 {
                font-size: 1.4rem;
            }
            ul li {
                font-size: 1.3rem;
            }
            .img-holder {
                width: 38px;
            }
        }
    }
}
@media screen and (max-width: 480px) {
    
}