@media screen and (max-width: 1336px) {
    #projects #project-container .project-holder {
        h4 {
            font-size: 1.4rem;
        }
        p {
            font-size: 1rem;
        }
    }
}
@media screen and (max-width: 1024px) {
    header nav {
        width: 60%;
    }
    #cover {
        padding-top: 100px;
        height: 400px;
    }
    #skills #skills-holder {
        h4 {
            font-size: 1.8rem;
        }
        .tech ul li {
            width: 200px;
            font-size: 1.6rem;
        }
    }
    #projects #project-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 3vw;
        .project-holder {
            h4 {
                font-size: 1.6rem;
            }
            p {
                font-size: 1.2rem;
            }
        }
    }
    #contact #form-container {
        column-gap: 5vw;
    }
    footer{
        #socials, #sass {
            font-size: 1.5rem;
        }
    }
}
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        nav {
            width: 90%;
            a {
                font-size: 1.2rem;
            }
        }
    }
    #about p {
        text-align: justify;
    }
    #skills {
        #skills-holder .tech {
            width: 100%;
            h4 {
                font-size: 1.8rem;
            }
            .img-holder {
                width: 40px;
            }
        }
    }
    #contact #form-container {
        width: 90%;
    }
    footer {
        p {
            order: 3;
            text-align: center;
            flex-grow: 1;
        }
        #socials, #sass {
            width: 50%;
            margin-bottom: 20px;
        }
    }
}
@media screen and (max-width: 600px) {
    #projects #project-container .project-holder {
        h4 {
            font-size: 1.4rem;
        }
        p {
            font-size: 1rem;
        }
    }
    #contact #form-container {
        input, textarea {
            font-size: 1.1rem;
        }
    }
}
@media screen and (max-width: 480px) {
    header nav a {
        font-size: 1rem;
    }
    #cover p {
        font-size: 2.6rem;
    }
    #about p {
        font-size: 1.2rem;
    }
    #projects #project-container {
        grid-template-columns: 1fr;
        .project-holder {
            h4 {
                font-size: 1.6rem;
            }
            p {
                font-size: 1.1rem;
            }
        } 
    }
    #contact #form-container {
        width: 100%;
        box-sizing: border-box;
        input, textarea {
            font-size: 1rem;
        }
        #form-name, #form-lastname {
            grid-column: 1 / 3;
        }
    }
    footer {
        flex-direction: column;
        #socials, #sass {
            width: 50%;
        }
    }
}