@media screen and (max-width: 1336px) {
    #projects #project-container .project-holder {
        h4 {
            font-size: 1.4rem;
        }
        p {
            font-size: 1rem;
        }
    }
}
@media screen and (max-width: 1024px) {
    header nav {
        width: 60%;
    }
    #cover {
        padding-top: 100px;
        height: 400px;
    }
    #skills #skills-holder {
        h4 {
            font-size: 1.8rem;
        }
        .tech ul li {
            width: 200px;
            font-size: 1.6rem;
        }
    }
    #projects #project-container .project-holder {
        width: 45%;
    }
}
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        nav {
            width: 90%;
            a {
                font-size: 1.2rem;
            }
        }
    }
    #about p {
        text-align: justify;
    }
    #skills {
        #skills-holder .tech {
            width: 100%;
            h4 {
                font-size: 1.8rem;
            }
            ul li {
                font-size: 1.6rem;
            }
            .img-holder {
                width: 40px;
            }
        }
    }
}
@media screen and (max-width: 480px) {
    header nav a {
        font-size: 1rem;
    }
    #cover p {
        font-size: 2.6rem;
    }
    #about p {
        font-size: 1.2rem;
    }
    #projects #project-container .project-holder {
        width: 100%;
        p {
            font-size: 1.2rem;
        }
    }
}